<div class="col-lg-2 visible-lg-block"></div>
<div class="col-lg-8 col-xs-12">
    <h3>{{username}}'s Created Events:</h3>
    <form ng-submit="popup('search for: ' + query)" class="input-group">
        <input ng-model="query" type="text" class="form-control" placeholder="Search for...">
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </span>
    </form><!-- /search box -->
    <br />
    <button class="btn col-xs-12 btn-info" ng-click="gotoCreateEvent()">
	<span class="glyphicon glyphicon-plus float-right" aria-hidden="true"></span> Create Event  </button>   
    <!-- if there's no event created by current user -->
	</br>
	</br>
    <p ng-show="user_created_events.length == 0" class="desc">
        "It seems like you haven't created any events. Member Initiated Events is a newly introduced feature in which you are able to create your own events, and ask other UCB members to attend your event." 
    </p>
	
    <!-- if user already created some events -->
	<div class="panel panel-default">
    <table ng-show="user_created_events.length != 0" class="table table-condensed table-bordered" ng-init="$scope.curr = 0">
        <tbody ng-repeat="e in user_created_events">
            <tr ng-if="isFirstEventInNewDate($index)"
                class="table_centered_text">
                <td colspan="2" class="theader date-glow">{{e.st_time | date}}</td>
            </tr>
            <tr class="member-event"
                ng-click="$scope.curr = ($scope.curr == $index) ? -1 : $index">
                <td class="col-xs-3 theader center-align">{{e.st_time | time}}</td>
                <td class="col-xs-9 theader center-align">{{e.title}}</td>
            </tr>
            <tr ng-show="$scope.curr == $index">
                <td colspan="2">
                    <div class="row no-margin">                        
                        <p class="lead float-left tlabel">Description:</p>
                        <button ng-click="setIdCancel(e.id)" type="button" class="btn btn-danger btn-md float-right" data-toggle="modal" data-target="#cancelModal">Cancel</button>
                    </div>
                    <p class="tdesc">{{e.description}}</p>
                    <p class="lead tlabel">Number of attendees: {{e.msg.length ? e.msg.length : 0}}</p>
                    <p class="lead tlabel">Messages:</p>
                    <!-- if no message -->
                    <p ng-hide="e.msg.length" class="desc">No message available.</p>
                    <!-- if there're messages -->
                    <table ng-show="e.msg.length" class="table table-condensed table-bordered">
                        <tbody ng-repeat="m in e.msg">
                            <tr>
                                <td class="col-md-2">{{m.username}}</td>
                                <td class="col-md-10">{{m.message}}</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="cancelModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="alert-modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="alert-modal-title" id="cancelModalLabel">Cancel event alert!</h4>
      </div>
      <div class="modal-body">
        If you cancel this event, the system will notify attendees about the cancelation. Do you still want to cancel this event?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-md" data-dismiss="modal">  No   </button>
        <button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#messageModal" data-dismiss="modal">   Yes   </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="Message">New message</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="message-subject" class="control-label">Message subject:</label>
            <input type="text" class="form-control" id="message-subject">
          </div>
          <div class="form-group">
            <label for="message-text" class="control-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button ng-click="cancelEvent()" type="button" class="btn btn-success" data-toggle="modal" data-target="#confirmationModal" data-dismiss="modal">Confirm and send message</button>
      </div>
    </div>
  </div>
</div>

    <div id="confirmationModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <p class="modal-title">Event canceled and Message sent! :)</p>
                </div>
                <div class="modal-body">
                    <p>Your event called "{{event.title}}" is canceled and a message was sent to the attendees.</p>
					
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
<div class="col-lg-2 visible-lg-block"></div>