<div class="col-lg-2 col-xs-1"></div>
<div class="col-lg-8 col-xs-12">
    <h3>Create Event:</h3>
    <form>
        <div class="form-group">
            <input ng-model="event.title" type="text" placeholder="Event title" class="form-control" autofocus="autofocus">
        </div>

        <div class="row">
            <div class='col-sm-6'>
                <div class="form-group">
                    <div class='input-group date'>
                        <input ng-model="event.st_time" type='datetime-local' placeholder="Event start time" id="st-datetime" class="form-control" />
                        <label class="input-group-addon" for="st-datetime">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class='col-sm-6'>
                <div class="form-group">
                    <div class='input-group date'>
                        <input ng-model="event.ed_time" placeholder="Event end time" id="ed-time" type="datetime-local" class="form-control" />
                        <label class="input-group-addon" for="ed-time">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <input ng-model="event.location" type="text" placeholder="Event location" class="form-control">
        </div>

        <div class="form-group">
            <textarea rows="4" cols="50" ng-model="event.description" placeholder="Event description" class="form-control"></textarea>
        </div>
        <form class="form-inline">
            <div class="form-group">
                <label for="NumberOfAttendees"><h4>Number of required attendees: </h4></label>
                <select ng-model="event.min_num_attendee" class="form-control" id="NumberOfAttendees" placeholder="0">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                </select>
            </div>
        </form>
        <form class="form-inline">
            <div class="form-group">
                <label for="recommendedPoints"><h4>Recommended points for this event:</h4></label>
                <select ng-model="event.num_pts_per_hour" class="form-control" id="recommendedPoints" placeholder="0">
                    <option>100</option>
                    <option>200</option>
                    <option>300</option>
                    <option>400</option>
                    <option>500</option>
                    <option>600</option>
                    <option>700</option>
                    <option>800</option>
                    <option>900</option>
                    <option>1000</option>
                </select>
                <span>points per hour</span>
            </div>
        </form>
    </form>
    <!-- Trigger the modal with a button -->
    <button ng-click="createEvent(event)" class="btn col-xs-12  btn-info" data-toggle="modal" data-target="#myModal">Submit my event</button>

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <p class="modal-title">Event is created! :)</p>
                </div>
                <div class="modal-body">
                    <p>Your event called "{{event.title}}" is successfully created.</p>
                    <p class="desc">To review your event go to {{username}}'s created event under event menu.</p>
                </div>
                <div class="modal-footer">                    
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

</div>
<div class="col-lg-2 col-xs-1"></div>