<div class="col-lg-8 col-xs-10">
    <form ng-submit="popup('search for: ' + query)" class="input-group">
        <input ng-model="query" type="text" class="form-control" placeholder="Search for...">
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </span>
    </form><!-- /search box -->
    <br />
	<form>
			<div class="form-group" >
                <input ng-model="event.title" type="text" placeholder="Event title" class="form-control" autofocus="autofocus">
            </div>
           
			<div class="row">
				<div class='col-sm-6'>
					<div class="form-group">
						<div class='input-group date' id='datetimepicker1'>
							<input type='text'  placeholder="Event date" class="form-control" />
							<span class="input-group-addon">
								<span class="glyphicon glyphicon-calendar"></span>
							</span>
						</div>
					</div>
				</div>
				<script type="text/javascript">
					$(function () {
						$('#datetimepicker1').datetimepicker();
					});
				</script>
			</div>
			
			<div class="row">
				<div class='col-sm-6'>
					<div class="form-group">
						<div class='input-group date' id='datetimepicker3'>
							<input placeholder="Event time" type='text' class="form-control" />
							<span class="input-group-addon">
								<span class="glyphicon glyphicon-time"></span>
							</span>
						</div>
					</div>
				</div>
				<script type="text/javascript">
					$(function () {
						$('#datetimepicker3').datetimepicker({
							format: 'LT'
						});
					});
				</script>
			</div>
			
			<div class="form-group">
                <input ng-model="event.location" type="text" placeholder="Event location" class="form-control">
            </div>
			
			<div class="form-group">
                <textarea rows="4" cols="50" ng-model="event.description"  placeholder="Event description" class="form-control"></textarea>
            </div>
			<form class="form-inline">
			  <div class="form-group">
				<label for="NumberOfAttendees"><h4>Number of required atendees: </h4></label>
				<select class="form-control" id="NumberOfAttendees" placeholder="0">
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
					<option>6</option>
					<option>7</option>
					<option>8</option>
					<option>9</option>
					<option>10</option> 
					
			    </select> 
				
			  </div>
			</form>
			<form class="form-inline">
			  <div class="form-group">
				<label for="recommendedPoints"><h4>Recommended points for this event:</h4></label>
				<select class="form-control" id="recommendedPoints" placeholder="0">
					<option>100</option>
					<option>200</option>
					<option>300</option>
					<option>400</option>
					<option>500</option>
					<option>600</option>
					<option>700</option>
					<option>800</option>
					<option>900</option>
					<option>1000</option>
					
			    </select> 
				
			  </div>
			</form>
			
	</form>
	<!-- Trigger the modal with a button -->
    <button class="btn col-xs-12  btn-default" data-toggle="modal" data-target="#myModal">Create Event</button>

	<!-- Modal -->
	<div id="myModal" class="modal fade" role="dialog">
	  <div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">Event is created! :)</h4>
		  </div>
		  <div class="modal-body">
			<p>Your event is successfully created.</p>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		  </div>
		</div>

	  </div>
	</div>
 
</div>