<div ng-init="$scope.curr = -1; showChart = false">
    <div class="row no-margin">
        <h3 class="float-left">My Level:</h3>
        <div class="float-right level-page-top-right">
            <a ng-click="showChart = true" href="">See others' level</a><br />
            <input id="publicDisplay" type="checkbox" ng-model="publicDisplay" />
            <label for="publicDisplay">let others see my level</label>
        </div>
    </div>
    <div ng-repeat="l in level_info">
        <div ng-click="$scope.curr = (($scope.curr == $index) || (l.level_completion_rate == 0.0)) ? -1 : $index"
             class="level-details col-xs-12">
            <table class="table table-condensed">
                <tr>
                    <td class="col-xs-4">
                        <img ng-src="{{l.level_icon_src}}"
                             alt="{{l.level_name}}"
                             class="img-rounded img-responsive"
                             ng-class="{'gray-img': l.level_completion_rate == 0.0}">
                    </td>
                    <td class="col-xs-8">
                        <p class="lead">{{l.level_name}}</p>
                        <p>{{l.level_description}}</p>
                    </td>
                </tr>
            </table>            
        </div>
        <div class="badge-showcase col-xs-12"
             ng-show="$scope.curr == $index">
            <div class="badges-details col-xs-3" ng-repeat="b in level_info[$scope.curr].badges">
                <!-- TODO: use b.badge_icon_src as src -->
                <img src="http://orig06.deviantart.net/3f7e/f/2013/120/2/5/chrome_icon___blue_black_by_jrathage-d63ks4s.png"
                     alt="{{b.badge_name}}"
                     class="img-rounded img-responsive"
                     ng-class="{'gray-img': !b.badge_has_acquired}">
                <p class="lead">{{b.badge_name}}</p>
                <p>{{b.badge_description}}</p>
            </div>
        </div>
    </div>

    <div class="fixed-full-screen" ng-show="showChart" ng-click="showChart = false">
        <table class="table-condensed col-lg-8 col-xs-12 fixed-center level-chart">
            <tbody ng-repeat="u in user_chart">
                <tr ng-hide="(u.username == '###') && (!publicDisplay)">
                    <td ng-show="u.username == '###'" class="user-pic-name"><img class="level-chart-icon" src="http://www.perlworkshop.nl/nlpw2015/img/default-avatar.png" />　{{username}}</td>
                    <td ng-hide="u.username == '###'" class="user-pic-name"><img class="level-chart-icon" src="http://www.perlworkshop.nl/nlpw2015/img/default-avatar.png" />　{{u.username}}</td>
                    <td><img class="level-chart-icon" ng-src="{{level_info[u.level - 1].level_icon_src}}" /></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>