<div class="col-lg-2 visible-lg-block"></div>
<div class="col-lg-8 col-xs-12">
    <form ng-submit="popup('search for: ' + query)" class="input-group">
        <input ng-model="query" type="text" class="form-control" placeholder="Search for...">
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </span>
    </form><!-- /search box -->
    <br />
    <table class="table table-condensed table-bordered" ng-init="$scope.curr = 0">
        <tbody ng-repeat="e in events">
            <tr ng-if="isFirstEventInNewDate($index)"
                class="table_centered_text">
                <td colspan="2">{{e.st_time | date}}</td>
            </tr>
            <tr class="ucb-event" ng-click="$scope.curr = ($scope.curr == $index) ? -1 : $index">
                <td class="col-xs-3">{{e.st_time | time}}</td>
                <td class="col-xs-9">{{e.title}}</td>
            </tr>
            <tr ng-show="$scope.curr == $index">
                <td colspan="2">
                    <p>{{e.description}}</p>
                    <p>{{e.st_time | time}} to {{e.ed_time | time}}</p>
                    <a href="#/event/details/{{e.id}}">More Info <span class="glyphicon glyphicon-chevron-right"></span></a>
                    <br />
                    <!-- User has rsvped to this event -->
                    <p ng-show="rsvpinfo[$index]">You have RSVPed to this event</p>
                    <!-- User has not rsvped to this event-->
                    <button ng-hide="rsvpinfo[$index]" ng-click="rsvp(e.id)" class="btn">RSVP</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="col-lg-2 visible-lg-block"></div>