
<div class="container">
  <h2>Welcome to UCB app!</h2>
<div class="col-lg-2 visible-lg-block"></div>
	<div class="col-xs-12 main">
	 <div class= "row" >
		<div class="col-xs-6"><h4>Your points:</h4></div>
		<div class="col-xs-6"><h4>Your level:</h4></div>
	</div>
	
   <div class= "row" >
		<div class="col-xs-6 center-align"><h3>3423476</h3></div>
		<div class="col-xs-6 center-align">
			<a href="#/my/level">
				<img src="image/level/silverUCB.jpg" class="img-rounded" alt="check in" width="104" height="106"></a>
		</div>
	</div>	
	</div>

   <div class= "col-xs-12 main">
		<div class= "row" >
			<img src="http://www.ucbapp.org/images/UCBbutton.png" class="center-block" class="img-rounded" alt="check in" >
		</div>
   </div>
   
   <div class= "col-xs-12 main">
		<div class= "row center-align" >
			<button type="button"  class="btn btn-info btn-lg" >What is happening in Boston?</button>
		</div>
   </div>
   <div class= "inboston"></div>

<div class="col-lg-2 visible-lg-block"></div>
</div>

