<div class="container">
    <h2>Welcome to UCB app!</h2>
    <div class="col-lg-2 visible-lg-block"></div>
    <div class="col-xs-12 main">
        <div class="row">
            <div class="col-xs-6 center-align"><h4>Your points:</h4></div>
            <div class="col-xs-6 center-align"><h4>Your level:</h4></div>
        </div>

        <div class="row">
            <div class="col-xs-6 center-align point-number">34200</div>
            <div class="col-xs-6 center-align">
                <a href="#/my/level" title="Click to see more">
                    <img src="image/level/pearl.jpg" class="img-rounded" alt="check in" width="104" height="106">
                </a>
            </div>
        </div>
    </div>

    <div class="col-xs-12 main">
        <div class="row">
            <br />
            <br />
			 <a href="#/checkin">
				<img src="http://www.ucbapp.org/images/UCBbutton.png" class="center-block img-rounded" alt="check in">
				<div class="center-align theader">Check in</div>
			</a>
            <br />
        </div>
    </div>

    <div class="col-xs-12 main">
        <br />
        <div class="row center-align">
            <a href="#/event/ucb">
                <button type="button" class="btn btn-info btn-lg" id="whats-happening-in-boston">What is happening in Boston?</button>
            </a>            
        </div>
        <br />
    </div>
    <div class="inboston"></div>

    <div class="col-lg-2 visible-lg-block"></div>
</div>

