.has-padding-top {
    padding-top: 70px;
}

.hidden-thead {
    display: none !important;
}

.navbar-fixed-top {
    background-color: yellowgreen;
}

span.icon-bar {
    background-color: black;
}

.nav-ucb-logo {
    height: 40px;
    border: 0;
}

.navbar-brand {
    padding-top: 3px;
    padding-right: 20px;
}

.navbar-collapse#my-navbar-collapse {
    max-height: 360px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.fixed-center {
    position: fixed;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.event-list-wrapper {
    padding-left: 0px;
}

.level-details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}

.badges-details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}

.badge-showcase {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
}

.gray-img {
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
}

.table_centered_text {
    text-align: center;
}

.modal-header {
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #6CBB3C;
 }

.photo-gallery-title {
    position: relative;
    left: 26px;
}

.photo-gallery {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    height: 200px;
    width: calc(100% - 26px);
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    overflow-x: auto;
}

.photo-gallery-item {
    -o-object-fit: cover;
       object-fit: cover;
    margin-right: 12px;
    max-height: 180px;
}

.photo-gallery-left-arrow {
    float: left;
    position: relative;
    top: 90px;  
    -webkit-transform: translate(-10px, -50%);  
        -ms-transform: translate(-10px, -50%);  
            transform: translate(-10px, -50%);
}    

.photo-gallery-right-arrow {
    float: right;
    position: relative;
    top: -110px;  
    -webkit-transform: translate(13px, -50%);  
        -ms-transform: translate(13px, -50%);  
            transform: translate(13px, -50%);
}    

.fixed-full-screen {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 140vw;
    height: 140vh;
    background-image: -webkit-linear-gradient(top, #3c3c3c 0, #222 40%);
    background-image: linear-gradient(to bottom,#3c3c3c 0,#222 40%);
    background-repeat: repeat;
}

/* basic positioning */
.legend { list-style: none; padding: 0;}
.legend li:first-child { float: left; margin-right: 10px; }
.legend li:last-child { float: right; margin-right: 10px; }
.legend span { 
    border: 1px solid #ccc; 
    float: right; 
    width: 12px; 
    height: 12px; 
    margin-left: 4px; 
    position: relative;
    top: 4px;
}

.legend .ucb-legend { background-color: #285692; }
.legend .member-legend { background-color: #b645b7; }

.ucb-event { background-color: #285692; }
.member-event {background-color: #b645b7; }

.nav-pills li {
    padding: 0;
    width: calc(50% - 1px);
}

.level-page-top-right {
    margin-top: 20px;
    text-align: right;
}

.level-chart {
    color: white;
    overflow-y: scroll;
}

.level-chart-icon {
    height: 30px;
}

.user-pic-name {
    vertical-align: middle;
}
/* star rating widget code from http://www.cssscript.com/simple-5-star-rating-system-with-css-and-html-radios/ */     
div.stars {
  width: 270px;
  display: inline-block;
}

input.star { display: none; }

label.star {
  float: right;
  padding: 10px;
  font-size: 36px;
  color: #444;
  -webkit-transition: all .2s;
          transition: all .2s;
}

input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  -webkit-transition: all .25s;
          transition: all .25s;
}

input.star-5:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before { color: #F62; }

label.star:hover { -webkit-transform: rotate(-15deg) scale(1.3); -ms-transform: rotate(-15deg) scale(1.3); transform: rotate(-15deg) scale(1.3); }

label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}