<div class="col-lg-2 visible-lg-block"></div>
<div class="col-lg-8 col-xs-12" ng-init="mode = 'curr'">
    <form ng-submit="popup('search for: ' + query)" class="input-group">
        <input ng-model="query" type="text" class="form-control" placeholder="Search for...">
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </span>
    </form><!-- /search box -->
    <br />
    <ul class="nav nav-pills">
        <li role="presentation" ng-class="{'active': mode == 'curr'}" ng-click="mode = 'curr'"><a href="">Current</a></li>
        <li role="presentation" ng-class="{'active': mode != 'curr'}" ng-click="mode = 'past'"><a href="">Past</a></li>
    </ul>
    <table ng-show="user_created_events.length != 0" class="table table-condensed table-bordered" ng-init="$scope.curr = 0">
        <tbody ng-if="mode == 'curr'">
            <tr class="table_centered_text">
                <td colspan="2">No event happens Today. Do you want to check <a ng-click="$parent.mode = 'past'" href="">Past Event</a>?</td>
            </tr>
        </tbody>
        <tbody ng-if="mode != 'curr'"
               ng-repeat="e in events"
               ng-click="$scope.curr = ($scope.curr == $index) ? -1 : $index">
            <tr ng-if="isFirstEventInNewDate($index)"
                class="table_centered_text">
                <td colspan="2">{{e.st_time | date}}</td>
            </tr>            
            <tr class="ucb-event" ng-class="{'member-event': e.creator != 'UCB'}">
                <td class="col-xs-3">{{e.st_time | time}}</td>
                <td class="col-xs-9">{{e.title}}</td>
            </tr>
            <tr ng-show="$scope.curr == $index">
                <td colspan="2">
                    <p class="lead">Description:</p>
                    <p>{{e.description}}</p>
                    <p>Check In</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="col-lg-2 visible-lg-block"></div>